.container{
    text-align: center;
    ion-button{
        min-width: 80%;
    }
    #img{
        height:250px;
        width: 250px;
    }
    ion-input{
        border : 2px solid #253B82;
         margin:7px auto;
         border-radius: 100px;
         color:rgb(156, 151, 151);
    }
    .input{
       
        width:90%;
        margin:5px auto;
    }
    h3{
        padding:20px;
        font-size:0.9em;
        color: #253B82;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    h4{
        padding-left:10px;
    }
h5{
    color:lightgray;
}
.field-error{
    color:red;
}
}