<ion-content [fullscreen]="true">
  <div class ="container">
    <img id ="img" src="../../assets/Images/flood (1).png" />
    <h3>Household Insurance Damage Assessor</h3>
     <div class="input">
      <ion-input placeholder="Email Address"/>
      <ion-input placeholder="Password"/>
     </div>
     <ion-button fill="clear">Forgot password?</ion-button>
     <ion-button routerLink="/list-of-houses-added">Login</ion-button>

  </div>
  <h4>You don't have an account? <ion-button routerLink="/register-user" fill="clear">Register</ion-button></h4>
</ion-content>