<ion-content [fullscreen]="true">
  <div class ="container">
    <img id ="img" src="../../assets/Images/home.png" />
    <h3>Household Insurance Damage Assessor</h3>
    <h5>Sign In</h5>
    <form [formGroup]="signInForm">
     <div class="input">
      <ion-input placeholder="Email Address" formControlName="emailAddress"/>
      <div class="field-error" *ngIf="_isInvalidControl('emailAddress')">
        <p>Please enter email address</p>
      </div>
      <ion-input placeholder="Password" formControlName="password"/>
      <div class="field-error" *ngIf="_isInvalidControl('password')">
        <p>Please enter password</p>
      </div>
     </div>
     <ion-button style="--color:#253B82" fill="clear">Forgot password?</ion-button>
     <ion-button  (click)="LoginUser()" style="--background:#253B82" [disabled]="!signInForm.valid" (click)="LoginUser">Login</ion-button>
     <h4>You don't have an account? <a routerLink="/register-user">Register</a></h4>
    </form>
  </div>

</ion-content>