<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title>Add a house details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="container">
  <h3>Upload Image of the house </h3>
  <img id="DefaultImage"  src={{HouseUrl}} />
  <ion-input type="file" id="insert" accept="image/*" (change)="insertImagine($event)"/>
  <h3>Upload description of the house </h3>
 <ion-input id="input" [(ngModel)]="description" /> 
 <h3>Display Current Location </h3>
 <ion-button style="--background:#253B82" id="AddHouseDetails" (click)="AddHouseButton()">Add House details</ion-button>

</ion-content>
