// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
$colors: (
  primary:    #253B82,
  secondary:  #F5ED50,
  danger:     #33313E,
  light:      #f4f4f4,
  dark:       #222
);
