.top {
    background-color: #253B82;
    height: 10%;

    ion-icon {
        color: #F5ED50
    }
}
.mainCard {
    display: flex;
    width:90%;
    margin:10px auto;
    height:170px;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.637);
}
.img{
    width:40%;
    height:170px;
    object-fit: cover;
}
.description{
    padding:5px;
    width:50%;
    height:170px;
 
   
}
#descriptionParagraph{
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    max-width: 230px;
    // padding:5px;
    // border:2px solid red ;

}